<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <form action="/update-user" method="POST">
        <div class="create-new-user">
            <div> CREATE-USER</div>
            <div>
                <label>FirstName:</label>
                <input type="text" name="firstName" value="<%=dataUser.firstName %>">
            </div>
            <div>
                <label>LastName:</label>
                <input type="text" name="lastName" value="<%=dataUser.lastName %>">
            </div>
            <div>
                <label>Email:</label>
                <input type="email" name="email" value="<%=dataUser.email %>">
            </div>
            <div>
                <label>Address:</label>
                <input type="text" name="address" value="<%=dataUser.address %>">
            </div>
            <input type="text" value="<%=dataUser.id %>" hidden name="id">
            <button class="btn-save" type="submit">Update</button>
        </div>
    </form>
</body>
</html>